{{- if .Values.sealedSecrets.enabled }}
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: {{ .Values.sealedSecrets.name }}
  namespace: {{ .Values.sealedSecrets.namespace }}
spec:
  encryptedData:
{{- range $key, $value := .Values.sealedSecrets.encryptedData }}
    {{ $key }}: {{ $value | quote }}
{{- end }}
  template:
    metadata:
      name: {{ .Values.sealedSecrets.name }}
      namespace: {{ .Values.sealedSecrets.namespace }}
    type: Opaque
{{- end }}
