replicaCount: 1


image:
  repository: khanhle04/rag-agent
  tag: v1.0.2
  pullPolicy: IfNotPresent


podAnnotations: {}


resources:
  requests:
    cpu: 500m
    memory: 1Gi
  limits:
    cpu: 2
    memory: 2Gi
  


affinity: {}
nodeSelector: {}
tolerations: []


service:
  type: ClusterIP
  port: 7005 # Service port (client-facing)
  targetPort: 7005 # Container port app lắng nghe (chỉnh nếu app khác)


ingress:
  enabled: true
  className: nginx
  annotations: {}
# ví dụ bật rewrite: nginx.ingress.kubernetes.io/rewrite-target: /
  hosts:
    - host: rag.khanklee.id.vn
      paths:
        - path: /
          pathType: Prefix
  tls:
    enabled: false
    secretName: rag-agent-tls # dùng khi enabled=true


container:
  name: rag-agent
  port: 7010 # trùng với service.targetPort ở trên
  command: [] # ví dụ: ["/bin/app", "--flag"]
  args: [] # ví dụ: ["--config=/etc/app/config.yaml"]
  livenessProbe:
    enabled: false
  readinessProbe:
    enabled: false
  


sealedSecrets:
  enabled: true
  name: rag-agent-sealed-secrets
  namespace: rag-agent
  encryptedData:
    GOOGLE_API_KEY: "AgAmQGO7NGMgmbwSZ3sNl6BOL/qY9fD54ZB0RY7Gw70CwiwlH9vF9YvdsSY3GQckltq1V72KN182LitYqyS4lsML+QkUP8tU1oVxj/n6NscfywB8JTejtQlD9Bukh9hEudX5xQ8jg1wxr4LfAEl2PCUeDQmOA9YsGWwW91f6qysyCZLjXCA/qDfdjhPk1l4aLk/lcZTr4rvWf+v9zYm5kwg43BslnjlOTtU24o5WqP6/AKghb8YMQGoYH/fJcgZkM9CqayrMQP/SSZfP/0SKkeIX3qLjaFeu+ZK4LuDjHpyUzevL/sx/6wSptkyApekYdX2z63HVxyfbDQz9tl8DBrmqrRfR3F3/6vqNhSI/sP44Bq93qbspvXG1vDoZNWFkXpAcJFVpJ7T31umaMS23QPm2/VlVhH0H2fv1LkQV0Apc/9KCGWyGFdXq3bNCwIi3h/mA4aW6xNseYETnzyhWsf5EUTDFiNcnMPVMT7ey7Ije0u+PKs/GrQD/li0ghL/Q3BBQHBwkiUl5iJEHVSsEC2E/KYZfHIp1GCzLEQ5kIZm+xCGR3RLqMefbuA63kCaIP3FcfRwP9DmtSFDRlfL2r5ijtI5SHU9WsQ9g35VQLxzSH4TVtiBK/7DVgNTfqv9PS3FwtVHPl1auR6jH1W7Tj3xJhm3AIj+ecsYcz5VnsTFBFDDC6x2JtsFayQIcyYIYCtmxZa21Ao31kYQHTobcIg+chkIXmLXPysVaKwPJk/7VQUjDGgtT8s4="
existingSecret:
  enabled: true
  name: "rag-agent-sealed-secrets" # Tên secret đã có sẵn trong cluster để inject biến môi trường

config:
  enabled: true
  data:
    QDRANT_URL: qdrant.qdrant.svc.cluster.local
    HOST: 0.0.0.0
    PORT: 7005

